body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #4A3620;
}

header {
background-color: #0D3B66;
color: white;
padding: 20px;
text-align: center;
}

nav {
background-color: #092C4C;
padding: 10px;
text-align: center;
}

nav a {
color: white;
text-decoration: none;
font-weight: bold;
}

section {
padding: 20px;
}

footer {
background-color: #4A3620;
color: white;
text-align: center;
padding: 10px;
}
