html, body {
  height: 100%;
  margin: 0;
}

body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #F3EFE8;
color: #000000;
display: flex;
flex-direction: column;
}

.header {
position: relative;
background-color: #4A3620;
color: #F3EFE8;
padding: 20px;
text-align: center;
}

nav {
background-color: #6B4A2B;
text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a.active {
  border-bottom: 2px solid #F3EFE8;
}

nav ul li a:hover }
text-decoration: underline;
}

section {
padding: 30px;
background-color: #F3EFE8;  
}

main {
  flex: 1;
}

footer {
background-color: #4A3620;
color: #F3EFE8;
text-align: center;
padding: 2.5px;
}

/* Logo tout à gauche */
.logo {
  width: 140px;
  position: absolute;
  padding: 100px;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
}

/*Texte parfaitement centré et plus bas */
.header-text {
  text-align: center;
  color: #F3EFE8;
}

.header-text h1 {
  margin: 0;
  front-size: 32px;
}

.header-text p {
  margin: 6px;
  font-size: 14px;
}

.actus {
padding: 30px;
text-align: center;
margin-bottom: 40px;
background-color: #F3EFE8;
}

.actus-container {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}

.actu {
background-color: #4A3620;
padding: 20px;
width: 250px;
border-radius: 8px;
color: #FFFFFF;
}

actus article {
margin-bottom: 60px;
}

.identite {
  margin-top: 80px;
}

.identite h2 {
  text-align: left;
}

.maillot-centre {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.identite-text {
  text-align: center;
  margin: 20px auto 0;
  max-width: 700px;
  line-height: 1.6;
}

.identite-img {
  display: block;
  margin: 40px auto 0;
  width: 180px;
  border-radius: 260px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  object-fit: contain;
}

.maillots {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.maillot {
  text-align: center;
  background: #6B4A2B;
  padding: 15px;
  border-radius: 10px;
}

.identite-img {
  width: 180px;
  height: auto;
}

.maillots img {
  width: 180px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3)
  transition: transform 0.3 ease, box-shadow 0.3 ease;
  cursor: pointer;
}

.maillots img:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.maillot p {
  color: #FFFFFF;
}
