body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #FFFFFF;
color: #000000;
}

.header {
display: flex;
align_items: center;
position: relative;
justify-content: center;
background-color: #4A3620;
color: #F3EFE8;
padding: 20px;
text-align: center;
gap: 20px;
}

nav {
background-color: #6B4A2B;
padding: 10px;
text-align: center;
}

nav a {
color: #F3EFE8;
text-decoration: none;
font-weight: bold;
margin: 0 15px;
}

section {
padding: 30px;
background-color: #FFFFFF;  
}

footer {
background-color: #4A3620;
color: #F3EFE8;
text-align: center;
padding: 10px;
}

/* Logo tout à gauche */
.logo {
  width: 90px;
  height: auto;
  margin-left: 40px;
}

/*Texte centré et plus bas */
.header-text {
  flex: 1;
  left: 50%;
  transform: translateX(-50%);
  top:55%;
  text-align: center;
}

.header-text h1 {
  margin: 0;
  front-size: 32px;
}

.header-text p {
  margin: 6px 0 0 0;
  font-size: 14px;
}




